<div class="page-desc">
    <div class="enc365-page-title">获取帮助</div>
    当您在使用过程中遇到问题时，您可以通过下面列出的联系方式联系我们获取帮助。
</div>
{# 服务器基本信息 #}
<div>

    <div class="line">
        <span class="tname">工作时间</span>
        <span class="to_tvalue">每 周一 至 周五, 9:00 - 18:00</span>
    </div>
    <div class="line">
        <span class="tname">QQ 群聊</span>
        <span class="to_tvalue"><a href="https://wpa1.qq.com/oqVaqYL2?_type=wpa&qidian=true" target="_blank">709063775</a></span>
    </div>
    <div class="line">
        <span class="tname">客服 QQ</span>
        <span class="to_tvalue"><a href="https://wpa1.qq.com/PFVEyXqF?_type=wpa&qidian=true" target="_blank">800183788</a></span>
    </div>
    <div class="line">
        <span class="tname">热线电话</span>
        <span class="to_tvalue">+86 4009030029</span>
    </div>
    <div class="line">
        <span class="tname">备用电话</span>
        <span class="to_tvalue">+86 02988188289</span>
    </div>
    <div class="line">
        <span class="tname">官方网址</span>
        <span class="to_tvalue">https://www.trustocean.com</span>
    </div>
    <div class="line">
        <span class="tname">问题反馈</span>
        <span class="to_tvalue"><a href="https://github.com/londry/Encryption365_Baota/issues" target="_blank">前往GitHub问题反馈页面</a></span>
    </div>
</div>