<div class="page-desc">
    <div class="enc365-page-title">需要安装PHP扩展</div>
    运行Encryption365客户端时可能遇到了一些问题, 请您参考下列提示来解决并重新运行Encryption365客户端。
</div>
{# 服务器基本信息 #}
<div>
    <div class="line">
        <span class="to_tvalue" style="height: auto;">
            <p style="color: red; font-weight: 600;font-size: 15px;">PHP 缺少 Ioncube 扩展</p>
            监测到您的PHP环境不满足运行要求，请您前往 PHP {{ php_verison }} 的配置页面来安装 Ioncube Loader 加密扩展。安装完成后重新尝试运行客户端。
            <p style="color: red;">注意: 完成Ioncube安装后, 可能需请您卸载并重新安装Encryption365插件后才可正常运行。</p>
        </span>
    </div>
</div>