<div class="page-desc">
    <div class="enc365-page-title">在线支持</div>
    通过在线聊天软件联系我们的工作人员，进入交流群提问以获取及时的答复，社区解答更加快捷。
</div>
{# 服务器基本信息 #}
<div>
    <div>
        <img style="height: 200px; padding: 10px; border: 1px solid #ddd;" src="https://www.qiaokr.com/wp-content/uploads/2021/04/ebd8e343-9c2e-4fb2-897b-204645312d01.jpg">
    </div>
</div>