<div class="page-desc">
    <div class="enc365-page-title">有点小问题</div>
    运行Encryption365客户端时可能遇到了一些问题, 请您参考下列提示来解决并重新运行Encryption365客户端。
</div>
{# 服务器基本信息 #}
<div>
    <div class="line">
        <span class="to_tvalue" style="height: auto;">
            <p style="color: red; font-weight: 600;font-size: 15px;">{{ title }}</p>
            {{ message }}
            <p><button onclick='encryption365.page("clientInfo")' class="btn btn-sm btn-success">查看账户信息</button></p>
        </span>
    </div>
</div>